{% extends "base.html" %}

{% block content %}
<table>
    <img src="https://code.berlin/content/uploads/3fab9ffd-1800x1200.jpg" alt="Picture">
    <tr>
        <td>We do not believe in the importance of grades or the value of theoretical knowledge acquired just to pass an
            exam. Chances are, this knowledge (or what will be left of it) will be of little or no use to you in your
            professional life.
            We will discuss your ideas and beliefs with you, but we will never expect you to learn something just to
            pass a test.</td>
        <td>Our approach is to present you with inspiring challenges that spark your imagination, while at the same time
            showing you what you need to learn to master them. We will assist you in identifying helpful resources and
            organize workshops where you can get assistance from experts as well as your peers while providing useful
            feedback for others.</td>
    </tr>
</table>

{% endblock %}